@charset "utf-8";
/* CSS Document */
*{
	margin: 0 auto;
}

body {
    font-family: "Constantia", "Lucida Bright", "DejaVu Serif", "Georgia", "serif";
	background-color:#f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color:rgba(146,3,171,1.00);
    padding: 20px;
    text-align: center;
	background-image: url("SW1.jpg");
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color:rgba(167,6,9,1.00);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: grey;
    border-radius: 8px;
}

.product {
    margin: 20px 0;
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
}

footer {
    background-color: black;
    color:rgba(146,3,171,1.00);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}


