@charset "utf-8";
/* CSS Document */
*{
	margin: 0 auto;
	background-image: url("SW1.jpg") no-repeat cover fixed 100%;
}

body {
    font-family: "Constantia", "Lucida Bright", "DejaVu Serif", "Georgia", "serif";
	background-color:#f0f0f0;
    color: #333;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color:rgba(63,63,63,1.00);
    color:rgba(224,114,240,1.00);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color:rgba(224,114,240,1.00);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background-color:rgba(135,135,135,1.00);
    border-radius: 8px;
}

.product {
    margin: 20px 0;
    padding: 10px;
    border: 2px solid rgba(81,4,81,1.00);
    border-radius: 5px;
}

footer {
    background-color:darkgray;
    color:rgba(224,114,240,1.00);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}

/* iPad 3 (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio : 2),
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (min-resolution: 192dpi) { 

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	
}

/* Retina displays ----------- */
@media  only screen 
and (-webkit-min-device-pixel-ratio : 2), 
only screen 
and (min-resolution: 192dpi) {

}

